/* ==========================================================================
   Comment count
   ========================================================================== */

.fa-comment-o {
  padding-left: 10px;
  padding-right: 2px;
}

.page__meta {
  a {
    text-decoration: none !important;
  }
}